* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@font-face {
      font-family: 'Roboto', sans-serif;
      src: url('./fonts/Roboto-Regular.ttf') format("ttf"),
 
}

:root {
    --primario: #2A7AE4;
    --preto: #000000;
    --pretoclaro: #9E9E9E;
    --cinzaclaro: #F5F5F5;
    --cinzamedio: #e5e5e5; 
    --branco: #FFFFFF;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
} 

#root {
    min-height: 100vh;
    /* background: orange; */
    display: flex;
    flex-direction: column;
}






